@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family:roboto, sans-serif;
}

/* Remove the padding in all browsers.*/
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
  list-style: none;
}

/* page loader */
.loading__cont{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #576574;
  z-index: 2;
  opacity: 1;
  animation: fade;
  animation-duration: 0s;
  animation-delay:3s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from{
    opacity:1;
    display: block;
  }
  to{
    opacity:0;
    z-index:-100;
    display:none;
    height:0;
    width:0;
    display: none;
    clip-path:circle(0);
  }
}

.loading{
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  border-top: 10px solid #f0a2bc;
  animation: animate 2s linear infinite;
  
}

@keyframes animate {
  to{
      transform: rotate(360deg);
  }
}

.loading::after,
.loading::before{
    content: '';
    top: -10px;
    left: 0;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
}

.loading::before{
  transform: rotate(240deg);
  border-top: 10px solid #58d892;
}

.loading::after{
  transform: rotate(120deg);
  border-top: 10px solid #f139e2;
}

.loading__items {
  position: absolute;
  width: 200px;
  height: 180px;
  text-align: center;
  line-height: 180px;
  color: #fff;
  text-shadow: 0 0 10px #fff000;
  animation: core 2s linear infinite;
}

@keyframes core {
  0%,
  100% {
      transform: scale(0.2);
  }

  20% {
      transform: scale(2);
  }
}


/* Header */
.header {
  padding: 2px;
  box-shadow: 0px 0px 5px 0px;
  position: relative;
  text-align: center;
}

.header img {
  height: 40px;
  max-width: 70%;
}

.header a {
  text-decoration: none;
  align-items: center;
}

/*search*/
.search {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}
.search .fas {
  width: 15px;
}
.search input {
  width: 150px;
  border: none;
  outline: none;
  background-color: #eaeaea;
  font-size: 1rem;
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-weight: bold;
}

.search input::placeholder {
  font-weight: bold;
  opacity: 1;
  color: #000;
}

/* location */
.location {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 30px 55px 30px;
  background-color: #f6f6f6;
}

.location h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.location p {
  margin: 3px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 12px;
}

.location__btn {
  border: none;
  background-color: #9356DC;
  padding: 15px 15px;
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-weight: normal;
  font-size: 18px;
  margin: 0 auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
  transition: transform 500ms;
  opacity: 1;
}

.location__btn:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 20px black;
  transform: scale(1.1);
  cursor: pointer;
}

.location__btn a {
  color: white;
}

/* how__to */
.how__to {
  padding: 40px 20px 40px 20px;
}

.how__to h2 {
  padding-left: 15px;
  display: flex;
}

.how__to p {
  font-weight: bold;
  font-size: 18px;
}
.how__to ul {
  margin: 20px auto;
}

.how__to__items li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 310px;
  height: 80px;
  gap: 10px;
  margin: 40px auto;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 400ms;
}

.how__to__items li:hover {
  cursor: pointer;
  transform: scale(1.07);
  background-color: #e1d0f5;
  box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.15);
}

.how__to__items li .fas {
  margin-left: 10px;
}

.how__to__items li:hover .fas {
  color: #9356dc;
}

.how__to__icon {
  color: gray;
  font-size: 20px;
}

.how__to__items li h5 {
  font-weight: 900;
  font-size: 16px;
}

.how__to__num {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  background-color: #9356dc;
  color: white;
  margin-left: -15px;
}

/* Restaurants */
main {
  padding: 55px 20px 45px 20px;
  background-color: #F6F6F6;
}

.restaurant h2 {
  padding-left: 5px;
}
.restaurant p {
  padding-left: 5px;
}

.restaurant__Cards {
  background-color: #F6F6F6;
}

.restaurant__Card {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  border: none;
  border-radius: 18px;
  box-shadow: 0px 4px 8px lightgrey;
  position: relative;
  overflow: hidden;
}
.restau__image {
  border-top-left-radius: 5px;
  border-top-right-radius: 8px;
  overflow: hidden;
  height: 200px;
}
.restaurant__Card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.rest__detail {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.rest__desc {
  width: 90%;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rest__desc h2 {
  font-size: 20px;
  padding-left: 2px;
  flex-wrap: wrap;
  font-weight: bold;
}

.rest__desc p {
  font-size: 18px;
}

.rest__detail .heart__icon {
  display: flex;
  align-items: center;
}

.new {
  position: absolute;
  border-radius: 4px;
  background-color: #99E2D0;
  color: #1A9778;
  padding: 8px;
  top: 16px;
  right: 10px;
  font-weight: bold;
}

.heart__icon {
  top: 10px;
  height: 40px;
  width: 40px;
  position: relative;
  background-color: #8b8b8b;
  cursor: pointer;
}
.heart__icon:hover::before {
  opacity: 1;
  transition-duration: 500ms;
}
.heart__icon::before {
  content: "";
  opacity: 0;
  transition-duration: 500ms;
  background-image: linear-gradient(163deg, #ee73da 0%, #a05bdc 100%);
}

.heart__icon::before, .fa-2x {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.heart__icon:hover .heart-empty {
  opacity: 0;
  animation: fill 0s ease-out 400ms;
}

@keyframes fill {
  0% {
    opacity: 1;
  }
}

.fa-2x  {
  background-color: #fff;
  mix-blend-mode: lighten;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

/* footer*/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer a:hover {
  text-decoration: underline;
  color: #FFF;
}

.footer img {
  filter: invert(100%);
  max-width: 70%;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.footer__list a {
  color: white;
  line-height: 25px;
  margin: 0;
}

.footer__list .fas {
  margin: 10px;
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px){
  .how__to h2 {
    text-align: center;
  }

  .how__to__items {
    display: flex;
    align-items: center;
  }

  .how__to ul {
    justify-content: space-between;
    max-width: 1400px;
  }

  .restaurant__Cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  .restaurant__Card {
    margin: 8px;
    flex: 35%;
  }

  .rest__detail {
    font-size: 12px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
  }
}

/* large devices (large laptops and desktops, 1024px and up) */
@media screen and (min-width: 1024px) {
  /*how__to*/
  .how__to h2 {
    text-align: center;
  }

  .how__to__items {
    display: flex;
    align-items: center;
  }

  .how__to ul {
    justify-content: space-between;
    max-width: 1400px;
  }

  /*restaurant*/
  .restaurant__Cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .restaurant__Card {
    margin: 8px;
    flex: 15%;
  }

  /*footer*/
  .footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
  }
}