@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


h1 {
    font-family: "Shrikhand", sans-serif;
    font-size: 32px;
}

h2 {
    font-family: "Shrikhand", sans-serif;
    font-size: 24px;
}


body {
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}


img {
    max-width: 100%;
    height: 100%;
    padding: 0;
}

/* page loader */
.loading__cont {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #576574;
    z-index: 2;
    opacity: 1;
    animation: fade;
    animation-duration: 0s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;
        z-index: -100;
        display: none;
        height: 0;
        width: 0;
        display: none;
        clip-path: circle(0);
    }
}

/* header */
.header__1 {
    padding: 20px 25px 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 63px;
}

.header1__logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.page__back .fas {
    font-size: 20px;
}

/* image */
.image__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    width: 100%;
    height: 240px;
    position: relative;
}

.menu__img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

/* main wrapper */
.main__wrapper {
    background-color: #F6F6F6;
    padding: 36px 21px;
    margin-top: -33px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    z-index: 1;
}

.main__wrapper__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    background-color: #f6f6f6;
    width: 100%;
    top: 260px;
}

.menus {
    padding-bottom: 40px;
}

.menu__title {
    margin-bottom: 25px;
}

.menu__title::after {
    content: "";
    display: block;
    margin-top: 5px;
    width: 40px;
    height: 3px;
    background-color: #99E2D0;
    animation: progress 2s;
    animation-fill-mode: both;
    transform: scale(0);
}

.menus__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 300px;
    padding-left: 10px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.05);
    animation: appear 0.5s;
    animation-timing-function: cubic-bezier(0.57, -0.3, 0.36, 1.2);
    transform: scale(0);
    animation-fill-mode: both;
}

.menus__detail {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menus__detail h4 {
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 7px;
    transition: 0.5s linear;
}

.menus__detail:hover h4 {
    transition: 0.3s linear;
}

.menus__detail p {
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu__price {
    margin-right: -12px;
    transition: 0.3s linear;
    font-weight: 900;
    transition: 0.5s linear;
}

.check__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    height: 70px;
    width: 70px;
    opacity: 0;
    font-size: 24px;
    font-weight: 900;
    overflow: hidden;
    margin-left: 25px;
    margin-right: -70px;
    border-radius: 0 16px 16px 0;
    transition: all 0.3s linear;
}


.check__icon>i {
    color: white;
    border-radius: 50%;
    font-size: 28px;
    font-weight: 900;
    white-space: nowrap;
    transform: rotate(-90deg);
    transition-duration: 0.5s;
}

.menus__card:hover .check__icon>i {
    transform: rotate(-360deg);
    transition-duration: 0.5s;
}

.menus__card:hover :nth-child(3) {
    opacity: 1;
    margin-right: 0px;
    transition: 0.3s linear;
}

@keyframes appear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes progress {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes rebound {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(30px);
    }

    75% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ENTREES */
.menu1 {
    animation-delay: 0.1s;
}

.menu2 {
    animation-delay: 0.3s;
}

.menu3 {
    animation-delay: 0.6s;
}

.menu4 {
    animation-delay: 0.9s;
}

.menu5 {
    animation-delay: 1.2s;
}

/* heart */
.heart {
    position: absolute;
    right: 20px;
}

.heart__far {
    position: relative;
}

.heart__far:hover {
    animation: heart__empty__opacity1 1s;
}

.heart__fas {
    position: absolute;
    top: 0px;
    opacity: 0;
    color: #FFF;
}

.heart__fas:hover {
    animation: heart__full__opacity 1s forwards;
    cursor: pointer;
}

@keyframes heart__full__opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
        background-image: linear-gradient(100deg, #9356DC, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        opacity: 1;
        background-image: linear-gradient(100deg, #9356DC, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes heart__empty__opacity1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.check_icons {
    background-color: #FFF;
    color: white;
    font-size: 20px;
    opacity: 0;
    transform: rotate(0deg);
    transition: all 0.7s ease-in-out;
}

/* order button */
.order-btn {
    height: 3rem;
    line-height: 0.1rem;
    margin: 4rem auto;
    width: 11rem;
}

.btn {
    border: none;
    background-color: #9356DC;
    padding: 15px 50px;
    border-radius: 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #FFF;
    font-weight: normal;
    font-size: 18px;
    margin: 0 auto;
    background-image: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
    transition: transform 500ms;
    opacity: 1;
}

.btn:hover {
    opacity: 0.8;
    box-shadow: 2px 2px 20px black;
    transform: scale(1.1);
    cursor: pointer;
}


/* footer*/
.footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer a:hover {
    text-decoration: underline;
    color: #FFF;
}

.footer img {
    filter: invert(100%);
    max-width: 70%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.footer__list a {
    color: white;
    line-height: 25px;
    margin: 0;
}

.footer__list .fas {
    margin: 10px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .container {
        width: 75%;
        margin: auto;
    }

    h2 {
        width: 75%;
        margin: auto;
    }
}

/* large devices (large laptops and desktops, 1024px and up) */
@media screen and (min-width: 1024px) {
    .container {
        display: flex;
        justify-content: space-around;
        margin: 0;
        width: 100%;
    }

    .container__card {
        width: 49%;
    }

    h2,
    .footer__logo {
        width: 100%;
        margin: 0;
    }

    .menus {
        width: 25%;
    }

    .main__wrapper {
        width: 100%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }


    .footer__side {
        background-color: rgb(78, 78, 78);
        padding: 18px 0px 18px 24px;
        margin-top: 30px;
    }

    .footer__side a {
        color: white;
        margin: 0;
    }

    .footer__side .footer__title {
        justify-content: center;
        text-align: center;
    }

    .footer__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer__list .fas {
        margin: 10px;
    }

    .footer__list a {
        color: white;
    }
}