.search {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;

    & .fas {
        width: 15px;
    }

    & input {
        width: 150px;
        border: none;
        outline: none;
        background-color: #eaeaea;
        font-size: 1rem;
        padding: 15px 0px 15px 0px;
        text-align: center;
        font-weight: bold;
    }

    & input::placeholder {
        font-weight: bold;
        opacity: 1;
        color: #000;
    }
}