/*animation for loading*/
@keyframes core {
    0%,
    100% {
        transform: scale(0.2);
    }
  
    20% {
        transform: scale(2);
    }
}


/*animation for*/
@keyframes animate {
    to{
        transform: rotate(360deg);
    }
}

/* loading__cont animation*/
@keyframes fade {
    from{
      opacity:1;
      display: block;
    }
    to{
      opacity:0;
      z-index:-100;
      display:none;
      height:0;
      width:0;
      display: none;
      clip-path:circle(0);
    }
}


/*animation for heart__icon:hove*/
@keyframes fill {
    0% {
      opacity: 1;
    }
}


/*animation for*/
@keyframes appear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/*animation for*/
@keyframes progress {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}


/*animation for*/
@keyframes rebound {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(30px);
    }

    75% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}


/*animation for*/
@keyframes heart__full__opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
        background-image: linear-gradient(100deg, #9356DC, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        opacity: 1;
        background-image: linear-gradient(100deg, #9356DC, #FF79DA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/*animation for*/
@keyframes heart__empty__opacity1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
